# ==========================================
# CONFIGURACIÓN GLOBAL DE CONFIRASPA
# ==========================================

SYS_USER="pi"
SYS_PASSWORD="ChangeMe!"
HOSTNAME="raspi-server"
TIMEZONE="Europe/Madrid"
SSH_PORT="22"

EXTERNAL_DISK_UUID="tu-uuid-aqui"
PATH_LIBRARY="/media/WDElements"
PATH_DOWNLOADS="/media/DiscoDuro"
PATH_BACKUP="/media/Backup"

DIR_TORRENTS="\${PATH_DOWNLOADS}/completos"
DIR_SERIES="\${PATH_LIBRARY}/Series"
DIR_MOVIES="\${PATH_LIBRARY}/Peliculas"
DIR_MUSIC="\${PATH_LIBRARY}/Musica"
DIR_BOOKS="\${PATH_LIBRARY}/Libros"

SMB_WORKGROUP="WORKGROUP"
SMB_PASS="TuPasswordSamba"
ARR_USER="media"
ARR_GROUP="media"
TRANSMISSION_USER="admin"
TRANSMISSION_PASS="TuPasswordTransmission"
TRANSMISSION_PEER_PORT="51413"
AMULE_PASS="TuPasswordAmule"
AMULE_WEB_PASS="TuPasswordAmuleWeb"
PLEX_CLAIM_TOKEN=""

SMB_USER="${SYS_USER}"